/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

:root {
  --primary: #151515;
  --max-width: 1600px;
}

html {
  background-color: var(--primary);
}

body {
  font-family: "Inter", sans-serif;
  color-scheme: light dark;
}
